body {
    width: 400px;
    height: 300px;
    /* padding-right:8px;
    padding-left:8px; */
    margin: 0;
    /* background-color: red; */
}

#todo-list {
    height: 250px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    /* background-color: red; */
    list-style-type: none;
    padding: 8px;
   
}

/* #todo-list li input[type=checkbox] {
    background-color: red;
    display: none;
}
 */

#todo-list li {
    color: #333;
    margin: 8px;
    padding: 8px;

    height: 30px;
    border: 2px solid #ededed;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 24px;
    word-break: break-all; /* wrap extended text*/

    position: relative;
    
}


#todo-list li button {
    float: left;
    /* margin: 8px; */

    margin-right: 6px;
    margin-left: 4px;

    color: #333;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    outline-width: 0;
    border: 2px solid #333;
    background-color: transparent;
    
}
#todo-list li button:hover {
    background-color: rgba(255, 0, 0, 0.2);
    transition: 0.3s all ease-in;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
#todo-list li button:hover ~ span {
    color: rgba(51, 51, 51, 0.5) ;
    text-decoration: line-through;
    text-decoration-color: rgba(255, 0, 0, 0.5);
    text-decoration-style: 2px solid;
    transition:  0.3s all ease-in;
    transition-timing-function: ease;
}

footer {
    /* border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333; */
    box-shadow: 0 -2px 5px -2px #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    z-index: 10;
}

#addToDo {
    width: 15%;
    padding: 6.5px 10px;
    /* font: 15px/24px "Lato", Arial, sans-serif; */
    /* font: 18px/27px "Lato", Arial, sans-serif; */

    border: 2px solid #333;
    background-color: white;
    color: black;
    border-radius: 50%;
    /* padding: 14px 28px; */
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
    float: right;
    margin-right: 8px;

    /* margin: 8px; */
}
#addToDo svg {
    width: 25px;
    height: 25px;
}
#addToDo:hover {
    /* outline-width: 0; */
    background-color: #ededed;
    transition: 0.4s;
}

#addToDo:focus {
    outline-width: 0;
}
.input-container {
    float: left;
    width: 80%;
    /* margin: 40px 3%; */
    margin-top: 25px 3%;
    position: relative;
    /* margin: 8px; */
    /* margin-right: 8px; */
    margin-left: 8px;
}
/* necessary to give position: relative to parent. */
input[type="text"] {
    font: 18px/27px "Lato", Arial, sans-serif;
    /* padding: 10px 10px; */
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bolder;
}

input:focus {
    outline-width: 0;
}

.effect-22,
.effect-23,
.effect-24 {
    border: 0;
    padding: 7px 15px;
    border: 1px solid #ccc;
    position: relative;
    background: transparent;
}

.effect-22 ~ .focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    transition: 0.4s;
    z-index: -1;
    border-radius: 10px;
}
.effect-22:focus ~ .focus-bg,
.has-content.effect-22 ~ .focus-bg {
    transition: 0.4s;
    width: 100%;
    background-color: #ededed;
}
.effect-22 ~ label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}
.effect-22:focus ~ label,
.has-content.effect-22 ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #333;
    transition: 0.3s;
}
